/* Navbar Container */
.navbar {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styling */
.navbar .logo {
    width: 150px;
}

/* Navbar Menu */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 28px;
    font-size: 18px;
}

.navbar-menu li {
    cursor: pointer;
    transition: 0.3s;
}

.navbar-menu a {
    text-decoration: none;
    color: #49557e;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: rgb(43, 38, 123);
}

/* Navbar Right Section */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Navbar Button */
.navbar button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rgb(26, 41, 111);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
   
}



.navbar button:hover {
    background-color: #acbed2;
    color: rgb(241, 239, 245);
}

/* Active Menu Item */
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    transition: 0.3s;
}

/* Search Icon with Notification Dot */
.navbar-search-icon {
    position: relative;
}



/* Responsive Styles */
@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none; /* Hide menu on small screens */
    }
}
