.add-leave-container
{
  display: flex;
  height: 100vh;
}

.add-leave-container .left-column{
    width: 250px; 
    padding: 20px;
}

.add-leave-container .right-column
{
    flex-grow: 1; 
  padding: 20px;
 

}