.view-leave-request-container{
    display: flex;
    height: 100vh;
}

.view-leave-request-container .left-column{
    width: 250px;
    padding: 20px;
  
}

.view-leave-request-container .right-column
{
    flex-grow: 1; 
    padding: 20px;

}