.maincontainer {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  
  .form-box {
    background-color: #01497c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: rgb(52, 59, 103);
     color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
   
  background: rgba(205, 198, 198, 0.903);
  color: rgb(52, 59, 103);
  }